<%- layout('base.ejs')%>
<script src="/libs/tinymce/tinymce.min.js"></script>
<script src="/libs/angular-ui-tinymce/src/tinymce.js"></script>
<script src="/javascripts/utils.js"></script>
<script src="/javascripts/admin.js"></script>
<script src="/javascripts/directives/news_element.js"></script>
<link rel="stylesheet" href="/stylesheets/index.css">

<div ng-app="admin" ng-controller="Admin">

</div>

<style>
</style>